@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Jaldi&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jaldi', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ededee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 10px 50px;
    background: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.navigation h3 {
    color: #fff;
}

.navigation a::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin:hover {
    background: #fff;
    color:rgb(39, 39, 39);

}

.wrapper {
    position: relative;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    background: transparent;
    background-color:#1d1d1d;
    border: 2px solid 191818;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: .2px 15px 18px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active {
    height: 520px;
}



.wrapper .form-box {
    width: 100%;
    padding: 40px;
    
}

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
}



.wrapper p {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Jaldi', sans-serif;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
    
}
/*for email and password label**/
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(90, 90, 90); 
    font-weight: 500;
    pointer-events: none;   
    display: block;
   
}


/*for email and password box**/
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
    color: #fff;
    display: block;

}

/*for icons**/
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(141, 133, 133);
    line-height: 57px;

}


.remember-forgot {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;    
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: hsl(49, 100%, 49%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 20px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    
}

.login-register p a:hover {
    text-decoration: underline;
}

